.wrapper {
    overflow: hidden;
}
.gallery {
}
.gallery__container {
    max-width: 80vw;
    margin: 0 auto;
}
.gallery__block {
}
.gallery__show {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 0 auto 30px;
    border: 1px solid #dddddd;
}
.gallery__mid {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}
.gallery__list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    border: 1px solid #dddddd;
    height: 310px;
    overflow-y: scroll;
}
li {
    flex: 0 0 20%;
    height: 300px;
    margin: 10px 10px;
    cursor: pointer;
}
.gallery__small {
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.show {
    opacity: 1;
}
.modal__wrapp {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    position: relative;
}
.modal__wrapp::before {
    content: "";
    width: 2px;
    height: 35px;
    background-color: #fff;
    position: absolute;
    right: 40px;
    top: 10px;
    transform: rotate(45deg);
    cursor: pointer;
}
.modal__wrapp::after {
    content: "";
    width: 2px;
    height: 35px;
    background-color: #fff;
    position: absolute;
    right: 40px;
    top: 10px;
    transform: rotate(-45deg);
    cursor: pointer;
}
.modal__content {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
}
